name: Build and Deploy

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Checkout hiperwalk
        uses: actions/checkout@v4
        with:
          repository: hiperwalk/hiperwalk
          path: hiperwalk
          ref: 2.0b

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Copy the hiperwalk examples to the content directory
        run: |
          cp -r hiperwalk/examples content

      - name: Install mamba
        uses: mamba-org/setup-micromamba@v2
        with:
          micromamba-version: '2.0.5-0'
          environment-file: build-environment.yml
          cache-environment: true

      - name: Build the JupyterLite site
        shell: bash -l {0}
        run: |
          cp README.md content
          jupyter lite build --contents content --output-dir dist

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./dist

  deploy:
    needs: build
    if: github.ref == 'refs/heads/main'
    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
